[workspace]

members = [
    "extract_boot_code",
    "game",
    "n64",
    "n64-sys",
    "n64-math",
    "n64-alloc",
    "byteswap",
    "deploy",
]

default-members = ["deploy"]

[patch.crates-io]
spirv_cross = { git = "https://github.com/JoNil/spirv_cross.git" }

[profile.dev.package."*"]
opt-level = 2

[profile.dev.build-override]
opt-level = 2